# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Eclipse
.settings/
.classpath
.project

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Test
test-output/
surefire-reports/

# Spring Boot
*.jar
*.war
*.ear